		<script type="text/javascript">
		/** ----------------------------------------------------------------------------------- **/
		/** ---                              Client Side Texts                              --- **/
		/** ----------------------------------------------------------------------------------- **/
			<!-- BEGIN_BLOCK TEXTSJS -->
			var $_%VAR_KEY% = '%VAR_VALUE%';
			<!-- END_BLOCK TEXTSJS -->
		/** ----------------------------------------------------------------------------------- **/
		/** ----------------------------------------------------------------------------------- **/
		</script>