<!DOCTYPE html>
<html>
	<head>
		<title>NeoEphemeris</title>
		<!--<link rel="icon" href="/Images/favicon.ico" />-->
		<!-- INCLUDE_TEMPLATE (Templates/Common/head.tpl.html) -->
	</head>
	<body>
		<!-- Modele Epehemeris Version_0.1 -->
		<div class="ephemeris">
			<div class="clock">
				<div class="rings uninitialized">
					
					<div class="start_astronomical">
						<div class="start_nautical">
							<div class="start_civil">
								<div class="start_sunrise">
									
								</div>
							</div>
						</div>
					</div>
					
					<div class="end_astronomical">
						<div class="end_nautical">
							<div class="end_civil">
								<div class="end_sunset">
									
								</div>
							</div>
						</div>
					</div>
					
					<div class="dial" onselectstart="return false;">
						<span>00</span>
						<span>02</span>
						<span>04</span>
						<span>06</span>
						<span>08</span>
						<span>10</span>
						<span>12</span>
						<span>02</span>
						<span>04</span>
						<span>06</span>
						<span>08</span>
						<span>10</span>
					</div>
					
				</div>
			</div>
			
			<div class="cursor">
				
			</div>
			
			<div class="inset">
				<div class="times">
					<div class="sunrises">
						<div class="start_astronomical"></div>
						<div class="start_nautical"></div>
						<div class="start_civil"></div>
						<div class="start_sunrise"></div>
					</div>
					<div class="sunsets">
						<div class="end_astronomical"></div>
						<div class="end_nautical"></div>
						<div class="end_civil"></div>
						<div class="end_sunrise"></div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>